.content-1SgpWY {
    .chat-2ZfjoI, .threadSidebar-1o3BTy {
        background-color: var(--background-base);
    }
    .wrapper-3HVHpV, .wrapper-15CKyy {
        background-color: var(--background-base);
    }
    .content-3spvdd {
        background-color: var(--background-base);
    }
    [class="reaction-2A2y9y"] {
        background-color: var(--background-light-alt);
    }
}