.form-3gdLxP {
    .channelTextArea-1FufC0 {
        background-color: var(--channeltextarea-background);
    }
    &::before {
        display: none;
    }
    .attachedBars-2BCP3l, .replyBar-1oi75v {
        background-color: var(--background-light);
    }
    .upload-3GTSF9 {
        background-color: var(--background-alt);
    }
}
.jumpToPresentBar-1cEnH0 {
    background-color: #2b2b2b;
}