#app-mount {
    .messageListItem-ZZ7v6g:hover {
        background-color: rgba(255, 255, 255, 0.028);
    }
    .wrapper-2vIMkT {
        background-color: var(--background-light-alt);
    }
    .markup-eYLPri code,
    .wrapperAudio-1Bzv_Z,
    .attachment-1PZZB2 { // attachments, audio, and markup
        border-color: var(--background-alt);
        background-color: var(--background-alt);
    }
    .embedFull-1HGV2S { // embed
        border-color: var(--background-light-alt);
        background-color: var(--background-alt);
    }
    .textContainer-36wgKK,
    .footer-GXWBBp {
        border-color: var(--background-light-alt);
        background-color: var(--background-light);
    }
    .wrapper-1HIH0j {
        background-color: var(--background-light);
        .guildIconImage-74OdmM {
            background-color: var(--background-light-alt);
        }
    }
    .container-3i3IzO {
        background-color: var(--background-light);
    }
}