.container-ZMc96U {
    &.themed-Hp1KC_ {
        background: var(--background-base);
    }
    .children-3xh0VB::after {
        display: none;
    }
    .searchBar-zdmu7v {
        background-color: var(--searcharea-background);
    }
    .searchAnswer-23w-CH, .searchFilter-2UfsDk {
        background-color: var(--background-alt);
    }
    .akaBadge-3i7V3p {
        background-color: var(--background-light-alt);
    }
}