#app-mount .layer-86YKbF {
    .cardFolder-3H4uH4 {
        background-color: var(--background-light-alt);
    }
    .group-LWHoGI {
        border-color: var(--background-alt);
    }
    .item-4m-12I {
        background-color: var(--background-alt);
        &.selected-3jieYB {
            background-color: var(--background-light-alt);
        }
    }
}