#app-mount .container-18GwIk {
    background-color: var(--background-light);
    .header-3_zmOb {
        background-color: var(--background-light);
        .tab-2Jo-cu.active-346HgG {
            background-color: var(--background-modifier-selected);
        }
    }
    .container-2rzKKA {
        border-color: var(--background-alt);
        background-color: var(--background-alt);
    }
}