.userPopout-2j1gM4 {
    background-color: var(--background-alt);
    .avatar-2Vndt_ {
        border-color: var(--background-alt);
        background-color: var(--background-alt);
    }
    .bodyInnerWrapper-2bQs1k,
    .footer-3naVBw {
        background-color: var(--background-alt);
    }
    .role-2TIOKu {
        background-color: var(--background-light-alt);
    }
    .input-2z42oC {
        background-color: var(--background-light);
    }
}