.expandedFolderBackground-1kSAf6 {
    background-color: var(--background-light);
}
.folder-241Joy {
    background-color: var(--background-light);
    &.hover-3m7-WT {
        background-color: var(--background-light-alt);
    }
}