.wrapper-1_HaEi {
    background-color: var(--background-dark);
    .scroller-3X7KbA {
        background-color: var(--background-dark);
        
    }
    .childWrapper-1j_1ub,
    [class="circleIconButton-1VxDrg"],
    .noIcon-3gSX9V {
        background-color: var(--background-light-alt);
    }
}