.theme-light .root-g14mjS {
    --header-primary: #fff;
    --header-secondary: #b9bbbe;
    --text-normal: #dcddde;
    --text-muted: #969696;

    .formTitle-2YQyhj {
        color: var(--header-primary);
    }
    .sampleLink-5BWNy9 {
        color: var(--text-muted);
    }
    .container-x8Y1ix,
    .rowContainer-3t7486 {
        border-color: var(--background-light-alt);
        background-color: var(--background-light-alt);
    }
    .closeIcon-11LhXr {
        color: var(--header-secondary);
    }
    .iconContainer-GFfNaA {
        color: var(--header-secondary);
    }
    .input-m1-Y7Q {
        border: solid 1px var(--background-modifier-selected);
        background-color: transparent;
    }
    .lookLink-15mFoz.colorPrimary,
    .lookLink-15mFoz.colorPrimary-2AuQVo,
    .lookBlank-21BCro {
        color: var(--text-normal);
    }
}