#app-mount .role-2TIOKu {
    position: relative;
    overflow: hidden;
    border: 0;
    z-index: 0;
    padding: 5px;

    .roleCircle-1EgnFN {
        &[style="background-color: rgb(185, 187, 190);"] {
            background-color: rgba(125, 125, 125) !important;
        }
        &::after {
            content: '';
            position: absolute;
            background: inherit;
            z-index: -1;
            width: 100%;
            height: 100%;
            left: 0;
            opacity: 0.25;
        }
    }

    &.addButton-1_dZYu {
        background-color: rgba(125, 125, 125, 0.25);
    }
}