body, #app-mount, .app-2CXKsg, .bg-1QIAus {
	background: var(--background-dark);
}

.popout-1KHNAq {
    border-color: var(--background-light);
    background-color: var(--background-alt);
    .option-2eIyOn {
        &:hover, &:focus {
            background-color: var(--background-light-alt);
        }
        &[aria-selected=true] {
            background-color: var(--background-dark);
        }
    }
}