#app-mount .container-2cd8Mz {
    background-color: var(--background-base);
    .container-1oAagU {
        background-color: var(--background-dark);
    }
    .wrapper-2RrXDg {
        border-color: var(--background-light);
        background-color: var(--background-light);
        .section-3G9aLW,
        .inset-SbsSFp {
            border-color: var(--background-light-alt);
            background-color: var(--background-light-alt);
        }
        &:hover {
            border-color: var(--background-base);
            background-color: var(--background-base);
            .section-3G9aLW,
            .inset-SbsSFp {
                border-color: var(--background-dark);
                background-color: var(--background-dark);
            }
        }
    }
    .partyMemberOverflow-3G1oZz {
        background-color: var(--background-alt)
    }
    // people
    .peopleListItem-u6dGxF:hover {
        background-color: var(--background-dark);
        .actionButton-3-B2x- {
            background-color: var(--background-light);
        }
    }
    .actionButton-3-B2x- {
        background-color: var(--background-light-alt);
    }
    .addFriendInputWrapper-kkoSV9 {
        border-color: var(--background-light);
        background-color: var(--background-alt);
    }
}