.container-36u7Lw {
    .scroller-2XLwLg,
    .scroller-1TOeMq {
        background-color: var(--background-base);
    }
    .defaultIndicator-1AxErs {
        background-color: var(--background-light-alt);
    }
    .installationPath-2PbaRC {
        box-shadow: 0 1px 0 0 var(--background-light);
    }
    .hiddenLibraryApplication-lfw1ab {
        border-color: var(--background-light);
        &::before {
            border-color: var(--background-light-alt);
            background-color: var(--background-alt);
        }
    }
}