.applicationStore-2nk7Lo {
    background-color: var(--background-base);
    .scroller-29cQFV {
        background-color: var(--background-base);
    }
    .subscriptionsRedirectContainer-zD3U79,
    .feature-2IUcBI {
        background-color: var(--background-light);
    }
}